@model TestHai.Models.ProductL

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Sản Phẩm</h2>


@using (Html.BeginForm("ThemMoi", "QLSanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group" style=" margin-top: 30px;">
            Tên Sản Phẩm:
            <div >
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

      

        <div class="form-group" style="
    margin-top: 30px;
">
            Ảnh(550x340):
            <div >
                <input type="file" name="fileupload" style="color: #C5A059" />
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>


        <div class="form-group">
            Mã Loại:
            <div >
                @Html.DropDownList("MaLoai")
            </div>
        </div>
        <div class="form-group">
            Mã Loại:
            <div>
                @Html.DropDownList("Product.CategoryID", ViewBag.TheLoai as SelectList)
            </div>
        </div>

        <div class="form-group" style="
    
">
            Giá Bán:
            <div >
                @Html.EditorFor(model => model.Product.Price)
                @Html.ValidationMessageFor(model => model.Product.Price)
            </div>
        </div>

        <div class="form-group" style="
    margin-top: 30px;
">
            Giá KM:
            <div >
                @Html.EditorFor(model => model.Product.PriceSell)
                @Html.ValidationMessageFor(model => model.Product.PriceSell)
            </div>
        </div>
        <div class="form-group" style="
    margin-top: 30px;
">
            Từ Ngày
            <div >
                <input type="date" name="Product.DateCreated" />
                @Html.ValidationMessageFor(model => model.Product.DateCreated)
            </div>
        </div>
        <div class="form-group" style="
    margin-top: 30px;
">
            Đến Ngày:
            <div >
                <input type="date" name="Product.DateModified" />
                @Html.ValidationMessageFor(model => model.Product.DateModified)
            </div>
        </div>
        <div class="form-group" style=" margin-top: 30px;">
           Người Sửa:
            <div>
                @Html.EditorFor(model => model.Product.ModifiedBy)
                @Html.ValidationMessageFor(model => model.Product.ModifiedBy)
            </div>
        </div>
        <div class="form-group" style=" margin-top: 30px;">
            Tình Trạng:
            <div>
                @Html.EditorFor(model => model.Product.IsNew)
                @Html.ValidationMessageFor(model => model.Product.IsNew)
            </div>
        </div>
        <div class="form-group" style=" margin-top: 30px;">
            Tình Trạng:
            <div>
                @Html.EditorFor(model => model.Product.IsLock)
                @Html.ValidationMessageFor(model => model.Product.IsLock)
            </div>
        </div>


        <div class="form-group" style="
    margin-top: 50px;
">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="THÊM MỚI" class="btn inverse" style="cursor:pointer" />


            </div>
        </div>
      
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
